@page
@model ba_Vofpffs.Pages.FileEntryModel
@{
    ViewData["Title"] = "FileEntry";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        word-break: break-all;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        width: 50px;
        text-overflow: ellipsis;
    }
</style>

<p>
    <a asp-page="FileEntryCreate" class="btn-dark">Create New</a>
    <a asp-page="FileEntryVisualPage" class="btn-dark">Go to visualization</a>
</p>
<h4>Set A</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].Filename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].Filepath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].Headers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].HeaderFingerprint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].RegionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].Lon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsA[0].Isp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.FileEntryItemsA)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Filename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Filepath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IPAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Headers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeaderFingerprint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isp)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Set B</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].Filename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].Filepath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].Headers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].HeaderFingerprint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].RegionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].Lon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileEntryItemsB[0].Isp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.FileEntryItemsB)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Filename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Filepath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IPAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Headers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeaderFingerprint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isp)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


